
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myIndiceLabel" translate="smartinvestplusApp.indice.home.createOrEditLabel">Create or edit a Indice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.indice.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.indice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="smartinvestplusApp.indice.top" for="field_top">Top</label>
            <input type="number" class="form-control" name="top" id="field_top"
                    ng-model="vm.indice.top"
                    required />
            <div ng-show="editForm.top.$invalid">
                <p class="help-block"
                    ng-show="editForm.top.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.top.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="smartinvestplusApp.indice.composite" for="field_composite">Composite</label>
            <input type="number" class="form-control" name="composite" id="field_composite"
                    ng-model="vm.indice.composite"
                    required />
            <div ng-show="editForm.composite.$invalid">
                <p class="help-block"
                    ng-show="editForm.composite.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.composite.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="smartinvestplusApp.indice.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.indice.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="smartinvestplusApp.indice.bourse" for="field_bourse">Bourse</label>
            <select class="form-control" id="field_bourse" name="bourse" ng-model="vm.indice.bourse" ng-options="bourse as bourse.symbole for bourse in vm.bourses track by bourse.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
