<div>
    <h2 translate="smartinvestplusApp.cloture.home.title">Clotures</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cloture.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="smartinvestplusApp.cloture.home.createLabel">
                        Create new Cloture
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'smartinvestplusApp.cloture.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="smartinvestplusApp.cloture.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volume"><span translate="smartinvestplusApp.cloture.volume">Volume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeur"><span translate="smartinvestplusApp.cloture.valeur">Valeur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transactions"><span translate="smartinvestplusApp.cloture.transactions">Transactions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cours"><span translate="smartinvestplusApp.cloture.cours">Cours</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titre.symbole"><span translate="smartinvestplusApp.cloture.titre">Titre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cloture in vm.clotures track by cloture.id">
                    <td><a ui-sref="cloture-detail({id:cloture.id})">{{cloture.id}}</a></td>
                        <td>{{cloture.date | date:'mediumDate'}}</td>
                    <td>{{cloture.volume}}</td>
                    <td>{{cloture.valeur}}</td>
                    <td>{{cloture.transactions}}</td>
                    <td>{{cloture.cours}}</td>
                    <td>
                        <a ui-sref="titre-detail({id:cloture.titre.id})">{{cloture.titre.symbole}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cloture-detail({id:cloture.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cloture.edit({id:cloture.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cloture.delete({id:cloture.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
